<dialog id="delete_modal_{{ id }}" class="modal">
  <div class="modal-box">
    <p>Are you sure you want to delete field: <b>{{ name }}</b>?</p>
    <div class="flex flex-row justify-end items-end gap-2">
      <form method="post" action="{% url "contacts:delete_custom_field" id %}">
        {% csrf_token %}
        <button
          type="submit"
          class="btn btn-primary mt-5">
          CONFIRM DELETION
        </button>
      </form>
      <form method="dialog">
        <button class="btn">Cancel</button>
      </form>
    </div>

  </div>
</dialog>