{% extends "commons/base.html" %}

{% block title %}Noname{% endblock %}

{% block content %}
    <h1>Your subscribers:</h1>
    <a href="{% url 'contacts:create_contact' %}">+ Create a new Contact</a>
    {% if not filter.qs %}
        <h2>There is no contact.</h2>
    {% else %}
        {%  include "commons/ordering.html" %}
        {%  include "commons/filters.html" %}
       <table>
        <tr>
            {% for field in fields %}
                <td><b>{{field}}</b></td>
            {% endfor %}
        </tr>
        {% for contact in filter.qs %}
            <tr>
            {% for key,val in contact.items %}
                <td>{{ val|default:"" }}</td>
            {% endfor %}
            <td><a href="{% url 'contacts:delete_contact' contact.id %}">Delete</a></td>
            <td><a href="{% url 'contacts:update_contact' contact.id %}">Update</a></td>
            </tr>
        {% endfor %}
    </table>

    <br>
    {%  include "commons/pagination.html" %}

    {% endif %}

{% endblock %}