{% extends "commons/base.html" %}

{% block title %}Segments{% endblock %}

{% block content %}
    <h1>Segments:</h1>
    <a href="{% url 'contacts:create_segment' %}">+ Create a new dynamic segment</a>
    {% if not filter.qs %}
        <h2>You have no segment.</h2>
    {% else %}
        {%  include "commons/ordering.html" %}
        {%  include "commons/filters.html" %}
        <table>
            <tr>
                {% for field in fields %}
                    <td><b>{{field}}</b></td>
                {% endfor %}
            </tr>
            {% for segment in filter.qs %}
                <tr>
                    <td>{{ segment.id }}</td>
                    <td>{{ segment.name }}</td>
                    <td>{{ segment.description }}</td>
                    <td>{{ segment.members_count }}</td>
                    <td><a href="{% url 'contacts:segment_details' segment.id %}">Edit</a></td>
                    <td><a href="{% url 'contacts:delete_segment' segment.id %}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>

        <br>

    {% endif %}

{% endblock %}