@tailwind base;
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #c98adb #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    @apply bg-base-100;
      @apply rounded-2xl;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-base-300;
      @apply rounded-full;
      @apply shadow-inner;
  }
@tailwind components;
@tailwind utilities;
html {
    font-size: max(12px, 0.85vw);
    font-family: "Poppins", sans-serif;
}
.heading-1 {
    @apply text-4xl;
    @apply font-bold;
}
.heading-2 {
    @apply text-3xl;
    @apply font-bold;
}
.heading-3 {
    @apply text-2xl;
    @apply font-bold;
}
.heading-4 {
    @apply text-xl;
}
.border-1 {
    border-width: 1px;
}
