{% extends "commons/base_logged_out.html" %}
{% block content %}
  <div class="flex flex-col items-center w-full px-10 py-10 justify-center h-screen gap-2">
      <h1 class="heading-1">Sign up</h1>
      <form method="post" class="flex flex-col mobile:w-full desktop:w-1/3">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit" class="btn btn-primary">Sign up</button>
        <div class="divider">OR</div>
        <a class="btn btn-secondary" href="{% url 'users:login' %}">Login</a>
      </form>
  </div>
{% endblock %}