{% for message in messages %}
    <div id="alerts" class="alert alert-{{ message.tags }} sticky bottom-12 animate-fadein-out">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        <span>{{ message }}</span>
    </div>
    <script type="text/javascript">
        var alerts = document.getElementById("alerts");
        setTimeout(function(){ alerts.classList.add("hidden"); }, 4000);
    </script>
{% endfor %}

