{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    {% url 'contacts:list_contacts' as list_contacts_url %}
    {% url 'contacts:create_contact' as create_contact_url %}
    {% url 'contacts:list_custom_fields' as list_custom_fields_url %}
    {% url 'contacts:create_custom_field' as create_custom_field_url %}
    <div class="menu">
        {% block sidebar %}
        <a class="menu-item" href="{% url 'commons:home' %}">Home</a>
        <a class="menu-item" href="{% url 'contacts:list_contacts' %}">Subscribers</a>
            {% if request.path == list_contacts_url or request.path == create_contact_url or request.path == list_custom_fields_url or request.path == create_custom_field_url%}
                <a class="sub-menu-item" href="{% url 'contacts:list_custom_fields' %}">-- Custom fields</a>
            {% endif %}
        <a class="menu-item bottom" href="{% url 'users:update_company' %}">My company</a>
        <a class="menu-item" href="{% url 'users:logout' %}">Log out</a>
        {% endblock %}
    </div>

    <div class="content">
        {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>